extends layout

block content
	h1#h1contact Contact us
	div#form
		div#contact
			form(action='/api/contact/send' method='post')
				fieldset.form-group
					label(for='name') Name or alias
					input.form-control(name='name', type='text' placeholder='Mr. Big Pug' class='inp')
					label(for='phone') Phone number
					input.form-control(name='phone', type='text' placeholder='1234567890' class='inp')
					label(for='email') Email
					input.form-control(name='email', type='text' placeholder='pugteam@bigpug.com' class='inp')
					label(for='textarea') For a cover letter
					textarea(rows='5' name='textarea', type='text' placeholder='Some text..' class='area')
				button.btn1.btn-primary(type='submit') Send

			
