extends layout

block content
	nav#back
		div#comment_bubble
			p Hi there!
			p You are on the Big Pugs mafia website. For more information
			span#forlink
				a(href='/api/about' class='link') Click here.
